body {
    background-color: antiquewhite;
}

h1 {
    color: darkblue;
    margin-top: 30vh;
    text-align: center;
}

p {
    text-align: center;
    animation: FadeIn ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.social-buttons-div {
    text-align: center;
    padding-top: 1vh;
    animation: FadeIn ease 3;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btn-social {
    color: darkblue;
    background-color: antiquewhite;
    border: none;
    animation: FadeIn ease 3;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.btn-social:hover {
    color: black;
}


@keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-o-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes FadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }