body {
    background-color: antiquewhite;
}

h1 {
    color: darkblue;
    margin-top: 30vh;
    text-align: center;
}

p {
    text-align: center;
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}